/*
 * Fli3d - secrets
 */

#define NUMBER_OF_WIFI 3

const char     default_wifi_ssid[NUMBER_OF_WIFI][20] = {	
						"**DELETED**", 
						"**DELETED**", 
						"**DELETED**" };         
const char     default_wifi_password[NUMBER_OF_WIFI][20] = { 
						"**DELETED**", 
						"**DELETED**", 
						"**DELETED**" };
const char     default_udp_server[NUMBER_OF_WIFI][20] = { 
						"192.168.XXX.XXX",
						"192.168.XXX.XXX",
						"192.168.XXX.XXX" };
const char     default_yamcs_server[NUMBER_OF_WIFI][20] = { 
						"192.168.XXX.XXX",
						"192.168.XXX.XXX",
						"192.168.XXX.XXX" };
const char     default_ntp_server[20]    = "ntp.telenet.be";

#ifdef PLATFORM_ESP32
const char     default_ap_ssid[20]       = "fli3d_esp32";    // Access point 
const char     default_ap_password[20]   = "**DELETED**"; 
const char     default_ftp_user[20]      = "esp32";
const char     default_ftp_password[20]  = "**DELETED**";
const uint16_t default_udp_port          = 4242; 
const uint16_t default_yamcs_tm_port     = 10042;
const uint16_t default_yamcs_tc_port     = 10052;
#endif
#ifdef PLATFORM_ESP32CAM
const char     default_ap_ssid[20]       = "fli3d_esp32cam";  // Access point
const char     default_ap_password[20]   = "**DELETED**";
const char     default_ftp_user[20]      = "esp32cam";
const char     default_ftp_password[20]  = "**DELETED**";
const uint16_t default_udp_port          = 4243; 
const uint16_t default_yamcs_tm_port     = 10043; 
const uint16_t default_yamcs_tc_port     = 10053; 
#endif
#ifdef PLATFORM_ESP8266_RADIO 
const uint16_t default_yamcs_radio_port  = 10044;
#endif